<h1>The Team</h1>
<p>Meet the people who built VGlance</p>
<div class="team-container">
  <app-member-card memberName="Omar Farrag" imagelink="../../assets/members/figo2.jpg"></app-member-card>
  <app-member-card memberName="Ismail Helmy" imagelink="../../assets/members/helmy.jpg"></app-member-card>
  <app-member-card memberName="Ahmad Hammam" imagelink="../../assets/members/mimo.jpg"></app-member-card>
  <app-member-card memberName="Ismail El Badawy" imagelink="../../assets/members/bobo.jpg"></app-member-card>
</div>