<div class="button-container">
  <button mat-flat-button color="black" *ngIf='!expand' (click)='expand = !expand'>Let's Go</button>
</div>

<div class="form" *ngIf='expand'>

  <mat-form-field class="example-full-width">
    <mat-label>Video Link</mat-label>
    <input name="link-controller" matInput [formControl]="linkFromControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
    <mat-hint>Enter a YouTube link!</mat-hint>
    <mat-error *ngIf="linkFromControl.hasError('pattern') && !linkFromControl.hasError('required')">
      Please enter a valid YouTube link
    </mat-error>
    <mat-error *ngIf="linkFromControl.hasError('required')">
      Link is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline" class="half-width">
    <mat-label>Segmentation Method</mat-label>
    <mat-select [formControl]="segmentationFormControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let method of segmentationMethods" [value]="method">
        {{method.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="segmentationFormControl.hasError('required')">Please choose a segmentation method</mat-error>
    <mat-hint>{{segmentationFormControl.value?.name}}</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline" class="half-width">
    <mat-label>Title Generation Method</mat-label>
    <mat-select [formControl]="titleFormControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let method of titleMethods" [value]="method">
        {{method.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="titleFormControl.hasError('required')">Please choose a segmentation method</mat-error>
    <mat-hint>{{titleFormControl.value?.name}}</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline" class="half-width">
    <mat-label>Tags Generation Method</mat-label>
    <mat-select [formControl]="tagFormControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let method of tagMethods" [value]="method">
        {{method.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="tagFormControl.hasError('required')">Please choose a segmentation method</mat-error>
    <mat-hint>{{tagFormControl.value?.name}}</mat-hint>
  </mat-form-field>
  <br>
  <button class="margin-top" mat-flat-button color="black" (click)='analyzeVideo()'>Analyze Video!</button>
</div>