@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');

div.scroll-segments {
    height: fit-content;
    max-height: 600px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

div.scroll-segments a {
    display: grid;
    text-align: left;
    padding: 3rem;
    padding-right: 0;
    overflow: hidden;
    text-decoration: none;
    transition: padding 0.3s ease-out;
    cursor: pointer;
    grid-template-columns: 80% 20%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 10px 8px #b6b6b6;
}

div.scroll-segments a:hover {
    box-shadow: 7px 12px 8px #b6b6b6;
    transition: box-shadow 0.2s ease-in-out;
}

.thumbnail {
    width: 100px;
    justify-self: flex-end;
    margin-right: 32px;
    border-radius: 10px;
}

.semi-bold {
    font-weight: 500;
}

.title {
    font-weight: 400;
    font-size : large
}

.tags {
    margin-top: 20px;
    
}

.tag {
    display: inline;
    font-size: 11pt;
    padding: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: rgba(0,0,0,0.1);
    border-radius: 16px;
    box-sizing: border-box;
    color: #030303;
    padding: 4px 10px;
    margin-right: 10px;
}

.segment-number {
    font-family: 'Sora', sans-serif;
    color: purple;
    font-size : 32pt;
    text-align: left;
    margin: 0;
}