.video-container {
    padding-left: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
}

.video-title {
    font-size: 28pt;
    font-weight: 600;
}

.right {
    padding : 3rem;
}

.video-frame {
    height: 700px;
    width: 100%;
    border-radius: 16px;
}