<section class="info-content">
  <div id="get-started"></div>
  <div class="about-content">
    <h3>Getting started with VGlance</h3>
    <ul>
      <div class="info-item item-2">
        <img src="../../assets/info/copy.svg"/>
        <h6>
          1. Copy Youtube Video Link
        </h6>
        <p class="text">
          You start by copying the video link from Youtube
        </p>
      </div>
      <div class="info-item item-1">
        <img src="../../assets/info/directions.svg"/>
        <h6>
          2. Choose the methods
        </h6>
        <p class="text">
          Choose from our different segmentations, and titling methods
        </p>
      </div>
      <div class="info-item item-2">
        <img src="../../assets/info/youtube.svg" />
        <h6>
          3. Get the video segments
        </h6>
        <p class="text">
          Preview your results by examining the video segments titled and tagged automatically.
        </p>
      </div>
    </ul>
  </div>
</section>