$field-width : 500px;
$button-width : 50px;

#vglance-title {
    text-align: center;
}

.home-container img {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.home-container {
    display: grid;
    justify-content: center;
}

.home-container-video {
    display: grid;
    justify-content: left;
    padding-left: 1rem;
    grid-template-columns: auto auto;
}

.smaller-width {
    width: $field-width;
}

.custom-button {
    width: $button-width;
    height: 32px;
    border-radius: 0;
}

.form-container {
    display: grid;
    grid-template-columns: $field-width $button-width;
}

.moved-up img {
    width: 200px;
    margin-top: 3rem;
    transition: all 0.5s ease-in-out;
}

.title {
    font-size: 20pt;
    font-weight: 300;
}

.tags {
    font-size: 18pt;
    font-weight: 300;
}

.tags strong {
    font-weight: 500;
}

.title-tag-container {
    padding: 1rem;
}

@keyframes stretch {
    0% {
      transform: scale(.0);
    }
    100% {
      transform: scale(1.0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0%);
        transform: scale(1.0);
    }
    50% {
        transform: translateY(20%);
        transform: scale(0.7);
    }
    100% {
        transform: translateY(0%);
        transform: scale(1.0);
    }
}

@keyframes stretch-out {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.0);
    }
}

.video-container iframe {
    height: 500px;
    width: 950px;
    animation-name: stretch;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    -webkit-animation-name: stretch;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;   
}

.loader {
    animation: slide-down 1.5s ease-in-out infinite;
}